/*
.btn {
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 2px 2px 2px 2px;
    text-decoration: none;
    height: 30px;
    width: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.active {
    background: yellowgreen;
    color: #FFFFFF;
    text-decoration-color: #FFFFFF;
}

.inactive {
    background: darkred;
    color: #FFFFFF;
    text-decoration-color: white;
}
*/
